.footer{
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 6%;
    position: fixed;
    bottom: 0;
    vertical-align: middle;
    text-align: baseline;
}

.footer p{
    margin: 0;
}

